/**
 * by Just. Liu
 * verson 0.0.1
 * 2024.2.21
**/

#app,.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}
.wrapper{
	padding: 2rem;
	background-color: var(--second-color);
	box-sizing: border-box;
}
nav{
	width: 13.5rem;
	height: calc( 100vh - 4rem);
	background-color: #ffffff;
	border-radius: var(--border-radius);
	position: fixed;
}
.logo-box{
	width: 100%;
	padding: 2rem 1.5rem;
	position: relative;
	box-sizing: border-box;
}
.logo-img{
	text-align: center;
	font-size: 0;
}
.web-name{
	font-weight: bold;
	margin-top: 1.5rem;
}
.web-des{
	color: rgba(38,38,38,0.6);
	margin-top: 1rem;
}
.menu-box{
	width: 100%;
	position: relative;
	padding: 0 1rem;
	box-sizing: border-box;
}
.nav-href{
	width: 100%;
	height: 2.25rem;
	position: relative;
	font-size: 0;
	padding: 0 1rem;
	box-sizing: border-box;
	border-radius: var(--s-border-radius);
	align-items: center;
	cursor: pointer;
	margin-bottom: 0.5rem;
}
.nav-href img{
	width: 1.25rem;
}
.menu-name{
	font-weight: bold;
	margin-left: 0.625rem;
}
.nav-href:hover,.menu-sel{
	background-color: var(--second-color);
}
.content{
	width: calc(100% - 13.5rem);
	box-sizing: border-box;
	position: relative;
	margin-left: 13.5rem;
}
.crumbs{
	width: 100%;
	padding-left: 1.5rem;
	position: relative;
	box-sizing: border-box;
}
.list{
	width: calc(100% - 0.5rem);
	position: relative;
	margin: 0.5rem 0 0 0.5rem;
	box-sizing: border-box;
	flex-wrap: wrap;
}
.item-box{
	width: calc(100% / 4);
	box-sizing: border-box;
	padding: 1rem 0 0 1rem;
}
.item-ul{
	width: 100%;
	background-color: #ffffff;
	border-radius: var(--border-radius);
	padding: 1.5rem 1rem;
	box-sizing: border-box;
	flex-direction: column;
}
.item-ul:hover{
	cursor: pointer;
	box-shadow: var(--box-shadow);
	transform: translateY(-2px);
}
.appicon{
	width: 3rem;
	font-size: 0;
}
.appicon img{
	width: 100%;
	border-radius: var(--s-border-radius);
}
.appname{
	font-weight: bold;
}
.appinfo{
	line-height: 1.5;
	margin-top: 0.875rem;
}
.apptime{
	margin-top: 1.375rem;
	justify-content: space-between;
}
.top-btn{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: var(--box-shadow);
	position: fixed;
	z-index: 100;
	right: 2rem;
	bottom: 2rem;
	font-size: 0;
	justify-content: center;
	align-items: center;
}
.top-btn img{
	width: 1.25rem;
}
.top-btn:hover{
	cursor: pointer;
}
.top-btn:hover img{
	transform: translateY(-2px);
}
.detail-box{
	width: 100%;
	padding-left: 1rem;
	position: relative;
	box-sizing: border-box;
}
.detail-main{
	margin-top: 1rem;
	position: relative;
}
.detail-head{
	position: relative;
}
.detail-head-bg{
	width: 100%;
	height: 13.125rem;
	background-color: #eaeaea;
	overflow: hidden;
	font-size: 0;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.app-bg-1{
	background-image: url(../data/images/headbg/headbg1.jpg);
	background-size: cover;
}
.detail-appicon{
	width: 7.5rem;
	height: 7.5rem;
	background-color: #ffffff;
	position: absolute;
	box-sizing: border-box;
	font-size: 0;
	justify-content: center;
	align-items: center;
	left: 1rem;
	top: 9.375rem;
	border-radius: var(--border-radius);
	z-index: 1;
}
.detail-appicon img{
	width: 4.25rem;
	border-radius: var(--border-radius);
}
.detail-cont{
	width: 100%;
	padding: 0 1rem 0.875rem;
	background-color: #ffffff;
	box-sizing: border-box;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.detail-text{
	width: calc(100% - 14.375rem);
	position: relative;
	margin-top: 4.75rem;
}
.cont-p{
	width: 100%;
	margin-top: 1.875rem;
	position: relative;
}
.cont-p p,.down-infopsw p,.down-href p{
	line-height: 1.5;
	margin-bottom: 0.75rem;
}
.app-info{
	width: 14.375rem;
	padding-left: 1.5rem;
	position: relative;
	margin-top: 4.75rem;
}
.downlink{
	width: 100%;
	padding: 2rem 1rem 0.875rem;
	background-color: #ffffff;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	margin-top: 1rem;
}
.down-infopsw,.down-href{
	margin-top: 1.375rem;
	position: relative;
}
footer{
	width: 100%;
	padding-left: 24px;
	box-sizing: border-box;
	position: relative;
}
.footer{
	width: 100%;
	box-sizing: border-box;
	position: relative;
	justify-content: space-between;
	margin-top: 2rem;
}