:root{
	--main-color: #3d3d3d;
	--second-color: #d1d1d1;
	--border-radius: 16px;
	--title-shadow: 4px 4px 6px #B2B2B2,-4px -4px 6px #F0F0F0;
	--box-shadow: 8px 8px 14px #B2B2B2,-8px -8px 14px #F0F0F0;
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline-style: none;
	border: none;
	transition: 0.3s;
}
body,html{
	font-size: 16px;
	color: var(--main-color);
	font-weight: 400;
	background-color: var(--second-color);
}
a{
	text-decoration: none;
	color: var(--main-color);
}
input{
	outline: none;
}
button{
	border: none;
}
.none{
	display: none;
}
ul,li{
	position: relative;
}
.flex {
	display: flex;
}
.m-t-40{
	margin-top: 40px;
}
.f14{
	font-size: 0.875rem;
}
/* dev code*/
pre{
	font-family: 'Noto Serif SC'!important;
	position: relative;
	width: 100%;
	line-height: 1.5;
	white-space: pre;
}


/* transiton */
.v-enter-active,.v-leave-active,.v-enter-active .pop-main,.v-leave-active .pop-main,.v-enter-active .pop-main-2,.v-leave-active .pop-main-2{
  transition: all 0.3s ease-in-out;
}
.v-enter-from,.v-leave-to{
  opacity: 0;
}
.v-enter-active .pop-main,.v-enter-active .pop-main-2{
	transition-delay: 0.1s;
}
.v-enter-from .pop-main,.v-leave-to .pop-main,.v-enter-from .pop-main-2,.v-leave-to .pop-main-2{
	transform: translateY(56px);
  opacity: 0;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 3px; /* 设置滚动条宽度 */
	height: 3px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
  background-color: var(--second-color); /* 设置轨道背景颜色 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* 设置滑块背景颜色 */
  border-radius: 2px; /* 设置滑块圆角 */
}

