<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="设计师工作日常,设计师工作软件,adobe,绿色软件,免费软件,免费下载,电脑软件,系统,Win10,Win11,PE,mac,os,ios,软件破解,激活码,ui,ux,ue,设计软件">
		<meta name="description" content="设计师常用工作软件分享平台">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>设计师工作软件</title>
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/appcss.css">
	</head>
	<body>
		<div id="app">
			<div class="wrapper flex">
				<!-- 左侧导航 -->
				<nav>
					<ul class="logo-box">
						<li class="logo-img"><img src="imgs/logo.png" alt="logo"></li>
						<li class="f18 web-name">设计师工作软件</li>
						<li class="f12 web-des">设计师常用工作软件分享平台</li>
					</ul>
					<ul class="menu-box">
						<a class="nav-href flex" :class="{'menu-sel': selectedType === 0}" href="javascript:;" @click="selectedType = 0">
							<img src="imgs/design.svg" alt="设计">
							<span class="f14 menu-name">设计</span>
						</a>
						<a class="nav-href flex" :class="{'menu-sel': selectedType === 1}" href="javascript:;" @click="selectedType = 1">
							<img src="imgs/dev.svg" alt="开发">
							<span class="f14 menu-name">开发</span>
						</a>
						<a class="nav-href flex" :class="{'menu-sel': selectedType === 2}" href="javascript:;" @click="selectedType = 2">
							<img src="imgs/system.svg" alt="系统工具">
							<span class="f14 menu-name">系统工具</span>
						</a>
						<a class="nav-href flex" :class="{'menu-sel': selectedType === 3}" href="javascript:;" @click="selectedType = 3">
							<img src="imgs/tool.svg" alt="在线小工具">
							<span class="f14 menu-name">在线小工具</span>
						</a>
						<a class="nav-href flex" :class="{'menu-sel': selectedType === 4}" href="javascript:;" @click="selectedType = 4">
							<img src="imgs/other.svg" alt="其它">
							<span class="f14 menu-name">其它</span>
						</a>
					</ul>
				</nav>
				<!-- 左侧导航@ -->
				<!-- 右侧内容 -->
				<div class="content">
					<div class="crumbs">
						<ul class="none" :class="{'b-none': selectedType === 0}">
							<li class="f24 m-t-10 bold">设计</li>
							<li class="f12 gray m-t-16">常用的一些软件设计工具</li>
						</ul>
						<ul class="none" :class="{'b-none': selectedType === 1}">
							<li class="f24 m-t-10 bold">开发</li>
							<li class="f12 gray m-t-16">程序猿常用的代码开发工具</li>
						</ul>
						<ul class="none" :class="{'b-none': selectedType === 2}">
							<li class="f24 m-t-10 bold">系统工具</li>
							<li class="f12 gray m-t-16">Win/Mac系统好用的系统工具</li>
						</ul>
						<ul class="none" :class="{'b-none': selectedType === 3}">
							<li class="f24 m-t-10 bold">在线小工具</li>
							<li class="f12 gray m-t-16">浏览器直接打开就能帮助到你的小工具</li>
						</ul>
						<ul class="none" :class="{'b-none': selectedType === 4}">
							<li class="f24 m-t-10 bold">其它</li>
							<li class="f12 gray m-t-16">难道说我的理想,就是这样度过一生的时光</li>
						</ul>
					</div>
					<div class="list flex">
						<!-- item -->
						<div class="item-box" v-for="item in filteredItems" :key="item.id" @click="showPopup(item)">
							<ul class="item-ul flex">
								<li class="appicon"><img src="data/appicon/psicon.jpg" alt="Photoshop cc 2024" /></li>
								<li class="appname f14 m-t-16">{{item.appname}}</li>
								<li class="f12 gray appinfo">{{item.description}}</li>
								<li class="f12 gray apptime flex">
									<span>{{item.company}}</span>
									<span>{{item.datatime}}</span>
								</li>
							</ul>
						</div>
						<!-- item@ -->
					</div>
					<!-- footer -->
					<footer>
					  <div class="flex footer f12 gray">
					    <div class="about-info">
					      <a href="javascript:;" @click="popAbout">关于</a>
					      <a href="javascript:;" @click="popLike">喜欢</a>
					      <a href="javascript:;" @click="popGzh">公众号</a>
					      <a href="https://blog.csdn.net/justliu1989" target="_blank">CSDN</a>
					      <a href="https://t.me/designer_work_share" target="_blank">电报</a>
					      <a href="https://weibo.com/u/1849041452" target="_blank">个人微博</a>
					    </div>
					    <div class="site-beian">
					      <span>appshare©️2024</span>
					      <a href="https://beian.miit.gov.cn" target="_blank">冀ICP备19017590号-1</a>
					    </div>
					    <div class="friends-link">
					      <a href="https://funcss.liujueyi.cn/" target="_blank">FUNCSS</a>
					      <a href="https://whtool.liujueyi.cn/" target="_blank">WHTOOL</a>
					    </div>
					  </div>
					</footer>
					<!-- footer@ -->
				</div>
				<!-- 右侧内容@ -->
				<!-- top -->
				<div class="top-btn flex" @click="backTop">
					<img src="imgs/top.svg" alt="Top">
				</div>
				<!-- top@ -->
			</div>
			
			<!-- 下载地址 -->
			<transition :duration="400">
				<div v-if="show" class="pop-detail flex"  @click="hidePopup">
					<div class="detail-box" @click.stop>
						<div class="detail-text flex">
							<ul>
								<li class="detail-appicon"><img :src="'data/appicon/'+popupItem.appicon" :alt="popupItem.appname" /></li>
								<li class="f18 bold">{{popupItem.appname}}</li>
								<li class="f12 gray m-t-16">{{popupItem.description}}</li>
							</ul>
							<ul class="f12 gray">
								<li>生产商：{{popupItem.company}}</li>
								<li class="m-t-16">更新日期：{{popupItem.datatime}}</li>
							</ul>
						</div>
						<div class="down-detail">
							<div class="f18 bold">下载地址</div>
							<div class="f12 gray down-infopsw">
								<span v-html="popupItem.downinfo"></span>
							</div>
							<div class="cont-p f14 down-href">
								<span v-html="popupItem.downlink"></span>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<!-- 下载地址@ -->
			
			<!-- 关于 -->
			<transition :duration="400">
				<div v-if="about" class="pop-detail flex"  @click="popAboutHide">
					<div class="site-pop-box" @click.stop>
						<div class="site-pop-cont f14">
							<p class='bold' style="margin-top: 0;">免责声明</p>
							<p>本站为个人网站，所发布的所有内容，其目的仅限于为技术研究和学术交流提供参考。</p>
							<p class='bold'>禁止商业和非法用途</p>
							<p>任何个人或组织均不得将本站中发布的内容用于商业或非法目的。对于违反此规定的任何行为，一切由此产生的后果和责任将由行为人自行承担。</p>
							<p class='bold'>版权声明</p>
							<p>本站所发布的信息均来源于网络，其版权归原作者或版权所有者所有。如有版权争议，与本站无关，可通过<span style="color: red;">公众号私信联系，24小时内删除</span>相关内容。</p>
							<p>用户在使用或下载本站内容时，应在24小时内从个人设备中彻底删除。</p>
							<p class='bold'>用户协议</p>
							<p>访问和下载本站内容的用户，即表示您已经充分理解并同意上述条款。本站作为非盈利性质的网站，不提供任何商业性质的软件交易服务。</p>
							<p>所有内容的分享均不以盈利为目的，仅为技术交流之用。</p>
						</div>
					</div>
				</div>
			</transition>
			<!-- 关于@ -->
			
			<!-- 喜欢 -->
			<transition :duration="400">
				<div v-if="like" class="pop-detail flex"  @click="popLikeHide">
					<div class="site-pop-box" @click.stop>
						<div class="site-pop-cont f14 flex like-box">
							<p>如果你喜欢本站，可以支付宝扫码下面红包码，领取红包后在实体店购物支持一下本站。</p>
							<p style="text-align: center;"><img src="imgs/zfbhb.png" alt="支付宝红包码" /></p>
							<p>如果你是土豪，也欢迎直接支付宝或者微信捐赠。</p>
							<div class="flex" style="justify-content: space-evenly">
								<p class="donate flex">
									<img src="https://whtool.liujueyi.cn/img/zfb.png" alt="支付宝捐赠" />
									<label class="m-t-10 f12 gray">支付宝捐赠</label>
								</p>
								<p class="donate flex">
									<img src="https://whtool.liujueyi.cn/img/wx.png" alt="微信捐赠" />
									<label class="m-t-10 f12 gray">微信捐赠</label>
								</p>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<!-- 喜欢@ -->
			
		</div>
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.22/vue.global.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.6/axios.min.js"></script>
		<script src="js/app.js"></script>
		<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	</body>
</html>